 <html>
	<head>
		<title>login</title>
	</head>
	<body>
		<form role="form" class="form-horizontal" action="/signin/" method="post" >{% csrf_token %}
			<!-- <input type='hidden' name='csrfmiddlewaretoken' value='/' /> -->
			<div style="margin-top:20px;">
				<label>Username</label>
				<input type="text" placeholder="Enter your username" name="username" id="username">
			</div>
			<div style="margin-top:20px;">
				<label>Password</label>
				<input type="text" placeholder="Enter Password" name="password" id="password">
			</div>
			<button type="submit" style="margin-top:20px;">login</button>
		</form>
	</body>
</html>